name: CI-CD

on:
  push:
    branches: [ "**" ]
  pull_request:

defaults:
  run:
    working-directory: pz6-task

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - run: npm install
      - run: npm test -- --passWithNoTests
      - name: Upload Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: pz6-task/

  build:
    name: Build
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - name: Upload Build
        uses: actions/upload-artifact@v4
        with:
          name: app-build
          path: pz6-task/

  deploy:
    name: Deploy
    needs: [build]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Simulate Deploy
        run: echo "Deploying to staging..."
