name: CI-CD

on:
  push:
    branches: [ "**" ]
  pull_request:

permissions:
  contents: read
  deployments: write

env:
  NODE_VERSION: '20.x'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          # Видалили cache: 'npm', щоб не було помилки через відсутність lock-файлу
      - run: npm install
      - run: npm test
      - name: Upload Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: . # Завантажуємо корінь проєкту як тимчасовий артефакт для звіту

  build:
    name: Build
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - name: Upload Build
        uses: actions/upload-artifact@v4
        with:
          name: app-build
          path: .

  deploy:
    name: Deploy
    needs: [build]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - name: Simulate Deploy
        env:
          DEPLOY_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
        run: echo "Deploying to staging with token..."
